:root {
  --monospace-font-family: 'Consolas', 'Inconsolata', 'Droid Sans Mono', 'Monaco', monospace;
  --base-font-family: 'helvetica neue', helvetica, arial, sans-serif;
  --base-font-size: 14px;
  --spacing-unit: 5px;
  --panel-items-spacing: 8px;
  --panel-spacing: 15px;
  --icons-size: 24px;

  --secondary-color: #D3F3D9;
  --primary-color: rgba(39,174,96,1);
  --background-color: #fff;
  --dark-bg-color: #0b2840;
  --highlight-color: var(--primary-color);
  --logo-color: #27535e;
  --link-color: rgba(164,3,111,1);
  --link-hover-color: #0262a0;
  --field-name-color: #1F61A0;
  --builtin-color: rgb(245,160,0);
  --text-color: #666;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --alert-color: #b71c1c;

  --modal-bg-color: var(--dark-bg-color);

  --doc-panel-width: 320px;
  --type-info-popover-width: 320px;
  --doc-panel-bg-color: var(--background-color);
  --doc-panel-item-stripe-color: rgba(158, 158, 158, 0.01);
  --doc-panel-item-hover-color: rgba(42,189,60,.1);

  --arg-default-color: #0B7FC7;
  --arg-name-color: #c77f53;

  --node-fill-color: rgba(0,0,0,.02);
  --node-field-name-color: rgba(0,0,0,.7);
  --node-field-type-color: rgba(0,0,0,.5);
  --node-header-color: var(--secondary-color);
  --node-header-text-color: rgba(39,174,96,1);
  --node-header-selected-text-color: white;

  --edge-color: color(var(--secondary-color) l(- 15%));
  --selected-edge-color: rgba(164,3,111,1);
  --selected-field-bg: rgba(42,189,60,.2);
}

@custom-media --small-viewport (max-width: 780px);
